* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
}

.slider-next, .slider-prev{
    background: none;
    border: none;
}

.container {
    max-width: 1200px;
    margin: 350px auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: .9rem;
    cursor: pointer;
}

.slider {
    width: 512px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    width: 2048px;
    height: 256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}